.art-index-main__contents  
  - @myfiles.each do |myfile|
    .title-block
      = link_to "#{myfile.id}", class:"art-show-link" do
        = myfile.title.truncate(43, omission: '...')
      .title-block__venue
        = myfile.address
        - if myfile.art_tags_id?
          = link_to "#", class: "tag-link" do
            = ArtTag.find(myfile.art_tags_id).name