<%= form_with(model: myfile, local: true) do |form| %>
  <% if myfile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(myfile.errors.count, "error") %> prohibited this myfile from being saved:</h2>

      <ul>
      <% myfile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, "タイトル" %>
      <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :comment, "内容、説明" %>
      <%= form.text_field :comment %>
  </div>

  <div class="field">
    <%= form.label :file, "資料を添付できます" %>
      <%= form.file_field :file %>
  </div>

  <div class="actions">
    <%= form.submit "作成"%>
  </div>
<% end %>
