= form_with(model: myfile, local: true) do |form|
  - if myfile.errors.any?
    #error_explanation
      %h2
        = pluralize(myfile.errors.count, "error")
        prohibited this myfile from being saved:
      %ul
        - myfile.errors.full_messages.each do |message|
          %li= message
  %div  
    = form.label :title, class:"art-label" do
      .art-title
        タイトル
      = form.text_field :title, placeholder:"タイトル、概要を記入してください", class:"art-title"
  %div
    = form.label :comment, "内容、説明", class:"art-label"
    = form.text_area :comment, placeholder:"内容を記入してください", class:"art-description"
  %div
    = form.label :file, "資料を添付できます", class:"art-label"
    = form.file_field :file, class:"art-document"
  .actions
    = form.submit "作成", class:"art-submit"
