.header
  = link_to("#", class:"logo-link") do
    .header-logo
      = image_tag "https://1.bp.blogspot.com/-7d0Ty0HTICI/V4SA6emmiwI/AAAAAAAA8N4/JNfzdM6_MdcXmQm3TOv8paAJLjLPP-NoQCLcB/s400/character_gorilla_hardboiled.png", class:"header-logo__img"
      .sight-name
        Jungle
  .header__right
    .header__right__search
    - if user_signed_in?
      .header__right__btn
        -# = link_to("myfiles/new",id:"sign-up") do
        = link_to new_myfile_path, class:"art-new-link" do
          .sign-up 新規投稿
        -# = link_to("#",id:"sign-out") do
        = link_to destroy_user_session_path, method: :delete, id:"sign-out" do
          .sign-in ログアウト
    - else
      .header__right__btn
        = link_to("/users/sign_up",id:"sign-up") do

          .sign-up 新規会員登録
        = link_to("/users/sign_in",id:"sign-in") do

          .sign-in ログイン
-#       %p#notice= notice
-# %h1　~エンジニアの勉強会共有サイト~