= render "header"
.art-index-wrapper
  
  .art-index-main
    .art-index-main__new
      新着記事
    .art-index-main__contents  
      - @myfiles.each do |myfile|
        .title-block
          = link_to "myfiles/#{myfile.id}", class:"art-show-link" do
            = myfile.title.truncate(43, omission: '...')
          .title-block__venue
            開催都道府県
          -# %tr
            -# - link_to
            -# %td= myfile.title
            -# %td= link_to 'Show', myfile
            -# %td= link_to 'Edit', edit_myfile_path(myfile)
            -# %td= link_to 'Destroy', myfile, method: :delete, data: { confirm: 'Are you sure?' }


    = link_to '新規投稿', new_myfile_path, class:"art-new-link"
