%p#notice= notice
%p
  = @myfile.title
%p
  = @myfile.comment
%td= link_to @myfile.filename ,donwload_pdf_path(@myfile), :class => 'btn btn-default btn-xs'
- if user_signed_in? && current_user.id? == @myfile.user_id 
  = link_to 'Edit', edit_myfile_path(@myfile)

  = link_to 'Destroy', @myfile, method: :delete, data: { confirm: 'Are you sure?' }

= link_to 'Back', myfiles_path
