<p id="notice"><%= notice %></p>

<p>
  <%# <strong>Title:</strong> %>
  <%= @myfile.title %>
</p>


<p>
  <%# <strong>Comment:</strong> %>
  <%= @myfile.comment %>
</p>
<td><%= link_to @myfile.filename ,donwload_pdf_path(@myfile), :class => 'btn btn-default btn-xs' %></td>
<%= link_to 'Edit', edit_myfile_path(@myfile) %> |
<%= link_to 'Back', myfiles_path %>
